body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: #343a40;
    margin-top: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

label {
    font-weight: bold;
    color: #495057;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
}

button {
    width: 150px;
    padding: 10px;
    background-color: #343a40;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #495057;
}

table {
    width: 80%;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

th, td {
    padding: 12px 20px;
    text-align: left;
    border: 1px solid #dee2e6;
}

th {
    background-color: #343a40;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 600;
}

td {
    background-color: #f8f9fa;
    color: #495057;
}

tr:nth-child(even) td {
    background-color: #e9ecef;
}

a {
    display: block;
    width: 100px;
    padding: 10px 0;
    background-color: #343a40;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

a:hover {
    background-color: #495057;
}
